
:global(.markdown-body) {
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	color: #333;
	overflow: hidden;
	font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
	font-size: 16px;
	line-height: 1.6;
	word-wrap: break-word;
	max-width: 800px;
	margin: auto;
}

:global(.markdown-body) a {
	background-color: transparent;
}

:global(.markdown-body) a:active,
:global(.markdown-body) a:hover {
	outline: 0;
}

:global(.markdown-body) strong {
	font-weight: bold;
}

:global(.markdown-body) h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

:global(.markdown-body) img {
	border: 0;
}

:global(.markdown-body) hr {
	box-sizing: content-box;
	height: 0;
}

:global(.markdown-body) pre {
	overflow: auto;
}

:global(.markdown-body) code,
:global(.markdown-body) kbd,
:global(.markdown-body) pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

:global(.markdown-body) input {
	color: inherit;
	font: inherit;
	margin: 0;
}

:global(.markdown-body) input[disabled] {
	cursor: default;
}

:global(.markdown-body) input {
	line-height: normal;
}

:global(.markdown-body) input[type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
}

:global(.markdown-body) table {
	border-collapse: collapse;
	border-spacing: 0;
}

:global(.markdown-body) td,
:global(.markdown-body) th {
	padding: 0;
}

:global(.markdown-body) * {
	box-sizing: border-box;
}

:global(.markdown-body) input {
	font: 13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

:global(.markdown-body) a {
	color: #4078c0;
	text-decoration: none;
}

:global(.markdown-body) a:hover,
:global(.markdown-body) a:active {
	text-decoration: underline;
}

:global(.markdown-body) hr {
	height: 0;
	margin: 15px 0;
	overflow: hidden;
	background: transparent;
	border: 0;
	border-bottom: 1px solid #ddd;
}

:global(.markdown-body) hr:before {
	display: table;
	content: "";
}

:global(.markdown-body) hr:after {
	display: table;
	clear: both;
	content: "";
}

:global(.markdown-body) h1,
:global(.markdown-body) h2,
:global(.markdown-body) h3,
:global(.markdown-body) h4,
:global(.markdown-body) h5,
:global(.markdown-body) h6 {
	margin-top: 15px;
	margin-bottom: 15px;
	line-height: 1.1;
}

:global(.markdown-body) h1 {
	font-size: 30px;
}

:global(.markdown-body) h2 {
	font-size: 21px;
}

:global(.markdown-body) h3 {
	font-size: 16px;
}

:global(.markdown-body) h4 {
	font-size: 14px;
}

:global(.markdown-body) h5 {
	font-size: 12px;
}

:global(.markdown-body) h6 {
	font-size: 11px;
}

:global(.markdown-body) blockquote {
	margin: 0;
}

:global(.markdown-body) ul,
:global(.markdown-body) ol {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style-type: initial;
}

:global(.markdown-body) ol ol,
:global(.markdown-body) ul ol {
	list-style-type: lower-roman;
}

:global(.markdown-body) ul ul ol,
:global(.markdown-body) ul ol ol,
:global(.markdown-body) ol ul ol,
:global(.markdown-body) ol ol ol {
	list-style-type: lower-alpha;
}

:global(.markdown-body) dd {
	margin-left: 0;
}

:global(.markdown-body) code {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 12px;
}

:global(.markdown-body) pre {
	margin-top: 0;
	margin-bottom: 0;
	font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

:global(.markdown-body) .select::-ms-expand {
	opacity: 0;
}


:global(.markdown-body) .octicon-link:before {
	content: '\f05c';
}

:global(.markdown-body)>*:first-child {
	margin-top: 0 !important;
}

:global(.markdown-body)>*:last-child {
	margin-bottom: 0 !important;
}

:global(.markdown-body) a:not([href]) {
	color: inherit;
	text-decoration: none;
}

:global(.markdown-body) .anchor {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	padding-right: 6px;
	padding-left: 30px;
	margin-left: -30px;
}

:global(.markdown-body) .anchor:focus {
	outline: none;
}

:global(.markdown-body) h1,
:global(.markdown-body) h2,
:global(.markdown-body) h3,
:global(.markdown-body) h4,
:global(.markdown-body) h5,
:global(.markdown-body) h6 {
	position: relative;
	margin-top: 1em;
	margin-bottom: 16px;
	font-weight: bold;
	line-height: 1.4;
}

:global(.markdown-body) h1 .octicon-link,
:global(.markdown-body) h2 .octicon-link,
:global(.markdown-body) h3 .octicon-link,
:global(.markdown-body) h4 .octicon-link,
:global(.markdown-body) h5 .octicon-link,
:global(.markdown-body) h6 .octicon-link {
	display: none;
	color: #000;
	vertical-align: middle;
}

:global(.markdown-body) h1:hover .anchor,
:global(.markdown-body) h2:hover .anchor,
:global(.markdown-body) h3:hover .anchor,
:global(.markdown-body) h4:hover .anchor,
:global(.markdown-body) h5:hover .anchor,
:global(.markdown-body) h6:hover .anchor {
	padding-left: 8px;
	margin-left: -30px;
	text-decoration: none;
}

:global(.markdown-body) h1:hover .anchor .octicon-link,
:global(.markdown-body) h2:hover .anchor .octicon-link,
:global(.markdown-body) h3:hover .anchor .octicon-link,
:global(.markdown-body) h4:hover .anchor .octicon-link,
:global(.markdown-body) h5:hover .anchor .octicon-link,
:global(.markdown-body) h6:hover .anchor .octicon-link {
	display: inline-block;
}

:global(.markdown-body) h1 {
	padding-bottom: 0.3em;
	font-size: 2.25em;
	line-height: 1.2;
	border-bottom: 1px solid #eee;
}

:global(.markdown-body) h1 .anchor {
	line-height: 1;
}

:global(.markdown-body) h2 {
	padding-bottom: 0.3em;
	font-size: 1.75em;
	line-height: 1.225;
	border-bottom: 1px solid #eee;
}

:global(.markdown-body) h2 .anchor {
	line-height: 1;
}

:global(.markdown-body) h3 {
	font-size: 1.5em;
	line-height: 1.43;
}

:global(.markdown-body) h3 .anchor {
	line-height: 1.2;
}

:global(.markdown-body) h4 {
	font-size: 1.25em;
}

:global(.markdown-body) h4 .anchor {
	line-height: 1.2;
}

:global(.markdown-body) h5 {
	font-size: 1em;
}

:global(.markdown-body) h5 .anchor {
	line-height: 1.1;
}

:global(.markdown-body) h6 {
	font-size: 1em;
	color: #777;
}

:global(.markdown-body) h6 .anchor {
	line-height: 1.1;
}

:global(.markdown-body) p,
:global(.markdown-body) blockquote,
:global(.markdown-body) ul,
:global(.markdown-body) ol,
:global(.markdown-body) dl,
:global(.markdown-body) table,
:global(.markdown-body) pre {
	margin-top: 0;
	margin-bottom: 16px;
}

:global(.markdown-body) hr {
	height: 4px;
	padding: 0;
	margin: 16px 0;
	background-color: #e7e7e7;
	border: 0 none;
}

:global(.markdown-body) ul,
:global(.markdown-body) ol {
	padding-left: 2em;
}

:global(.markdown-body) ul ul,
:global(.markdown-body) ul ol,
:global(.markdown-body) ol ol,
:global(.markdown-body) ol ul {
	margin-top: 0;
	margin-bottom: 0;
}

:global(.markdown-body) li>p {
	margin-top: 16px;
}

:global(.markdown-body) dl {
	padding: 0;
}

:global(.markdown-body) dl dt {
	padding: 0;
	margin-top: 16px;
	font-size: 1em;
	font-style: italic;
	font-weight: bold;
}

:global(.markdown-body) dl dd {
	padding: 0 16px;
	margin-bottom: 16px;
}

:global(.markdown-body) blockquote {
	padding: 0 15px;
	color: #777;
	border-left: 4px solid #ddd;
}

:global(.markdown-body) blockquote>:first-child {
	margin-top: 0;
}

:global(.markdown-body) blockquote>:last-child {
	margin-bottom: 0;
}

:global(.markdown-body) table {
	display: block;
	width: 100%;
	overflow: auto;
	word-break: normal;
	word-break: keep-all;
}

:global(.markdown-body) table th {
	font-weight: bold;
}

:global(.markdown-body) table th,
:global(.markdown-body) table td {
	padding: 6px 13px;
	border: 1px solid #ddd;
}

:global(.markdown-body) table tr {
	background-color: #fff;
	border-top: 1px solid #ccc;
}

:global(.markdown-body) table tr:nth-child(2n) {
	background-color: #f8f8f8;
}

:global(.markdown-body) img {
	max-width: 100%;
	box-sizing: border-box;
}

:global(.markdown-body) code {
	padding: 0;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin: 0;
	font-size: 85%;
	background-color: rgba(0,0,0,0.04);
	border-radius: 3px;
}

:global(.markdown-body) code:before,
:global(.markdown-body) code:after {
	letter-spacing: -0.2em;
	content: "\00a0";
}

:global(.markdown-body) pre>code {
	padding: 0;
	margin: 0;
	font-size: 100%;
	word-break: normal;
	white-space: pre;
	background: transparent;
	border: 0;
}

:global(.markdown-body) .highlight {
	margin-bottom: 16px;
}

:global(.markdown-body) .highlight pre,
:global(.markdown-body) pre {
	padding: 16px;
	overflow: auto;
	font-size: 85%;
	line-height: 1.45;
	background-color: #f7f7f7;
	border-radius: 3px;
}

:global(.markdown-body) .highlight pre {
	margin-bottom: 0;
	word-break: normal;
}

:global(.markdown-body) pre {
	word-wrap: normal;
}

:global(.markdown-body) pre code {
	display: inline;
	max-width: initial;
	padding: 0;
	margin: 0;
	overflow: initial;
	line-height: inherit;
	word-wrap: normal;
	background-color: transparent;
	border: 0;
}

:global(.markdown-body) pre code:before,
:global(.markdown-body) pre code:after {
	content: normal;
}

:global(.markdown-body) kbd {
	display: inline-block;
	padding: 3px 5px;
	font-size: 11px;
	line-height: 10px;
	color: #555;
	vertical-align: middle;
	background-color: #fcfcfc;
	border: solid 1px #ccc;
	border-bottom-color: #bbb;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 #bbb;
}

:global(.markdown-body) .pl-c {
	color: #969896;
}

:global(.markdown-body) .pl-c1,
:global(.markdown-body) .pl-s .pl-v {
	color: #0086b3;
}

:global(.markdown-body) .pl-e,
:global(.markdown-body) .pl-en {
	color: #795da3;
}

:global(.markdown-body) .pl-s .pl-s1,
:global(.markdown-body) .pl-smi {
	color: #333;
}

:global(.markdown-body) .pl-ent {
	color: #63a35c;
}

:global(.markdown-body) .pl-k {
	color: #a71d5d;
}

:global(.markdown-body) .pl-pds,
:global(.markdown-body) .pl-s,
:global(.markdown-body) .pl-s .pl-pse .pl-s1,
:global(.markdown-body) .pl-sr,
:global(.markdown-body) .pl-sr .pl-cce,
:global(.markdown-body) .pl-sr .pl-sra,
:global(.markdown-body) .pl-sr .pl-sre {
	color: #183691;
}

:global(.markdown-body) .pl-v {
	color: #ed6a43;
}

:global(.markdown-body) .pl-id {
	color: #b52a1d;
}

:global(.markdown-body) .pl-ii {
	background-color: #b52a1d;
	color: #f8f8f8;
}

:global(.markdown-body) .pl-sr .pl-cce {
	color: #63a35c;
	font-weight: bold;
}

:global(.markdown-body) .pl-ml {
	color: #693a17;
}

:global(.markdown-body) .pl-mh,
:global(.markdown-body) .pl-mh .pl-en,
:global(.markdown-body) .pl-ms {
	color: #1d3e81;
	font-weight: bold;
}

:global(.markdown-body) .pl-mq {
	color: #008080;
}

:global(.markdown-body) .pl-mi {
	color: #333;
	font-style: italic;
}

:global(.markdown-body) .pl-mb {
	color: #333;
	font-weight: bold;
}

:global(.markdown-body) .pl-md {
	background-color: #ffecec;
	color: #bd2c00;
}

:global(.markdown-body) .pl-mi1 {
	background-color: #eaffea;
	color: #55a532;
}

:global(.markdown-body) .pl-mdr {
	color: #795da3;
	font-weight: bold;
}

:global(.markdown-body) .pl-mo {
	color: #1d3e81;
}

:global(.markdown-body) kbd {
	display: inline-block;
	padding: 3px 5px;
	font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
	line-height: 10px;
	color: #555;
	vertical-align: middle;
	background-color: #fcfcfc;
	border: solid 1px #ccc;
	border-bottom-color: #bbb;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 #bbb;
}

:global(.markdown-body) .task-list-item {
	list-style-type: none;
}

:global(.markdown-body) .task-list-item+.task-list-item {
	margin-top: 3px;
}

:global(.markdown-body) .task-list-item input {
	margin: 0 0.35em 0.25em -1.6em;
	vertical-align: middle;
}

:global(.markdown-body) :checked+.radio-label {
	z-index: 1;
	position: relative;
	border-color: #4078c0;
}
