
:global(.sandbox-spacer) {
	font-size: 16px;
	margin: 50px 0 10px;
}

:global(.sandbox-spacer) a:first-of-type {
	margin-left: 10px;
}


#app-container {
	height: 100%;
	width: 100%;
	background-color: #ddd;
}
:global(.sandbox-container) {
	display: grid;
	grid-template-columns: 250px 1fr;
	grid-template-rows: 80px 1fr;
	grid-gap: 10px;
	width: 100%;
	height: 100%;
}
:global(.sandbox-nav) {
	padding: 10px;
	background-color: white;
	grid-row-start: 1;
	grid-row-end: 3;
	.separator {
		margin-top: 10px;
	}
	a {
		display: block;
		font-size: 16px;
		line-height: 1.5;
		padding-left: 15px;
	}
}
:global(.sandbox-path-header) {
	background-color: white;
}
:global(.sandbox-content) {
	// grid-row: 2 / 3;
	// grid-column: 2/ 3;
	background-color: white;
	overflow: auto;
	position: relative;
}
