.container {
	display: grid;
	grid-template-columns: 200px 200px;
	grid-template-rows: 400px 50px;
	grid-template-areas:
		"a b"
		"c c";
}

.projects {
	height: 400px;
	overflow-y: scroll;
	overflow-x: hidden;
	grid-area: a;
}

.glasses {
	height: 400px;
	overflow: auto;
	grid-area: b;
}
.glass {
	width: 40px;
	height: 40px;
	display: inline-block;
	vertical-align: bottom;
}

.color-swatch {
	width: 100%;
	height: 100%;
}

.buttons {
	grid-area: c;
	text-align: right;
}
