.container {
	table {
		border-collapse: collapse;
	}
	tr:nth-child(even) {
		background-color: #eaeaea;
	}
	td {
		padding: 3px;
		border-bottom: 1px solid #eaeaea;
	}
	thead {
		font-weight: bold;
	}

}

.count {
	text-align: center;
}

@media print {
	.print-button {
		display: none;
	}
}
