.layout {
    display: grid;
    grid-template-columns: var(--sidebar-width) auto;
    overflow: hidden;
}

.sidebar {
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid var(--silver);
}

.project {
    overflow: auto;

    svg {
        margin: 50%;
    }
}

.sidebar-button {
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid var(--light-grey);
}

.sidebar-button-not-selected {
    composes: sidebar-button;
    cursor: pointer;
}

.sidebar-button-selected {
    background-color: var(--light-grey);
}

.glass-table {
    width: 100%;
    border-collapse: collapse;
}

.glass-table thead td {
    font-size: 12px;
    padding: 5px;
}
.center {
    text-align: center;
}

.glass {
    composes: sidebar-button;
}

.color-cell {
    width: 35px;
    margin: 5px;
}

.color {
    border: 1px solid var(--dark-grey);
    padding: 0;
    height: 35px;
    cursor: pointer;
    display: block;
}
.no-color {
    composes: color;
}

.glass .icon {
    font-size: 32px;
    margin: 3px;
    color: var(--light-grey);
}

.glass input[type='color'] {
    height: 0;
    width: 0;
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.glass .title {
    display: block;
    box-sizing: border-box;
    resize: none;
    padding: 0 1px;
    margin: 3px 0 4px 0;
    width: 100%;
    min-width: 1px;
    background-color: transparent;
    border: 1px solid transparent;
    font-family: var(--body-font-family);
    font-size: 14px;
    flex: 1;
}

.glass .title:focus {
    border: 1px solid silver;
    background-color: white;
}

.glass-not-selected {
    composes: glass sidebar-button-not-selected;
}
.glass-not-selected > * > * {
    pointer-events: none;
}

.glass-selected {
    composes: glass sidebar-button-selected;
}
