button {
	font-size: 14px;
	background-color: var(--dark-blue);
	color: white;
	border: none;
	border-radius: 14px;
	padding: 5px 15px;
}

.disabled, button[disabled] {
	background-color: var(--desaturated-blue);
}

.block {
	display: block;
	width: 100%;
}