:global :root {
    --text-color: black;
    --header-font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    --body-font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    --silver: silver;
    --light-grey: #eee;
    --dark-grey: #666;

    --sidebar-width: 250px;

    --blue: #5e9eef;
    --light-blue: #a2c4f2;
    --dark-blue: #3668a9;
    --desaturated-blue: #9baab4;
    --desaturated-light-blue: #ccd5e2;
}
