.piece-count {
    font-size: 14px;
    color: var(--dark-grey);
}

.icon {
    color: black;
}
a:hover .icon {
    color: black;
}

.zoom {
    font-size: 14px;

    button {
        font-size: 12px;
    }
}

.checkbox-option {
    label {
        border: 1px solid var(--light-grey);
        border-radius: 3px;
        padding: 7px;
    }
}
