.container {
	display: flex;
	width: 100%;
	max-width: 800px;
	justify-content: stretch;
	margin: 0 20px;
}

.container button {
	font-size: 13px;
}

.step {
	margin: 0 1px;
	width: 33%;
	background-color: var(--desaturated-light-blue);
}

.text {
	text-align: center;
	padding: 7px 10px;
	font-size: 13px;
}

.step:first-child {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.step:last-child {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.complete {
	composes: step;
	background-color: var(--light-blue);
}

.active {
	composes: step;
	background-color: var(--blue);
}