.container {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.library-item {
	width: 200px;
	height: 300px;
	margin: 15px;
	border: 1px solid var(--silver);
	text-align: center;
	padding: 5px;
	text-decoration: none;
	color: var(--black);
	line-height: 1.4;
	border-radius: 3px;

	svg {
		max-width: 100%;
		max-height: 90%;
	}
	path {
		stroke-size: 1px;
		stroke: black;
	}

}

.add-item {
	composes: library-item;
	position: relative;
	background-color: var(--light-grey);
	a {
		display: flex;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		color: var(--black);
	}
}