.container {
	display: grid;
	height: 100%;
	width: 100%;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 3fr;
}

.settings {
	grid-column: 1 / 4;
}

.container img {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.container canvas,
.container svg {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	margin: auto;
}

.container label {
	display: block;
	margin: 5px 0;
}

.preprocessor-settings label {
	display: flex;
	width: 100%;
	justify-content: space-between;
}


.svg-preview {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.svg-preview path:hover {
	stroke-width: 10px;
}

.concave-warning {
	stroke: #C00;
	stroke-width: 5px;
}

.size-warning {
	stroke: #F00;
	stroke-width: 10px;
}
