html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
	font-family: var(--body-font-family);
}

.header-layout-container {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: grid;
	grid-template-rows: 60px 1fr;
}

.header-layout-container > *:nth-child(2) {
	overflow: auto;
}

.content {
	position: relative;
}

.footer {

}
